# Website
WEBSITE_URL=http://localhost:3000

# Paths
LOG_PATH=/home/justin/dev/pcpartdb/.logs

# Database
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=pcpartdb
POSTGRES_USER=pcpartdb
POSTGRES_PASSWORD=password

# Emails
RECIPIENT_EMAIL_ADDRESS=hello@pcpartdb.com 
ERROR_ALERT_EMAIL_ADDRESS=hello@pcpartdb.com

# Email SMTP
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USER=apikey
SMTP_PASSWORD=password
