# Website
WEBSITE_URL=http://localhost:3000
WEBSITE_EMAIL=hello@pcpartdb.com

# API
API_URL=http://localhost:3001
API_PORT=3001

# Automation
AUTOMATION_URL=http://localhost:3001
AUTOMATION_KEY=foo

# Analytics
ENABLE_GOOGLE_ANALYTICS=true
GOOGLE_ANALYTICS_ID=id

# Database
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=pcpartdb
POSTGRES_USER=pcpartdb
POSTGRES_PASSWORD=password

# Email SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=apikey
SMTP_PASSWORD=password

# Secrets
JWT_SECRET_RESET_PASSWORD=secret

# 3rd Party API Keys
SCRAPING_ANT_API_KEY=key