@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Segoe UI, Helvetica, sans-serif;
}

a {
  color: #6365f1;
}

h1 {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 2.25rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
}

p {
  margin-bottom: 1rem;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.dialog {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 998;
}

.dialog .dialog-overlay {
  background: #373a47;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.dialog .dialog-content {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
